<template>
  <div class="wrapper">
    <h3>axios</h3>
    <el-form ref="form" @submit.prevent.native="add" :model="form" label-width="80px">
      <el-form-item label="輸入todo">
        <el-input v-model="form.memo"></el-input>
      </el-form-item>
    </el-form>
    <ul>
      <li v-for="(todo,index) in todos" :key="index">
        <span class="memo" v-if="editedTodo !== todo">{{todo.memo}}</span>
        <el-input 
          @keypress.enter.native="doneEdit(todo)" 
          v-model="todo.memo" 
          v-else 
          class="memo"></el-input>
        <el-button 
          @click="del(todo)" 
          type="danger" class="fr" plain>刪除</el-button>
        <el-button 
          @click="edit(todo)" 
          v-if="editedTodo !== todo" 
          type="warning" class="fr" plain>更新</el-button>
        <el-button 
          @click="doneEdit(todo)" 
          v-else 
          type="warning" class="fr" plain>完成</el-button>
      </li>
    </ul>
  </div>

</template>


<script>
import axios from 'axios'
export default {
  created(){
    this.getData()
  },
  data(){
    return {
      form:{},
      todos:[],
      editedTodo: null
    }
  },
  methods:{
    getData(){
      // axios.get('/todos')      
      axios.get('http://localhost:3000/todos')      
        .then(res=>{
          console.log('axios res:',res)
          this.todos = res.data
        })
    },
    add(){
      axios.post('/todos',{ "memo":this.form.memo})
        .then(() => {
          this.$notify.success({ message: '新增成功'});          
          this.getData()
          this.form ={}
        })
    },
    edit(todo){
      this.editedTodo = todo
    },
    doneEdit(todo){
      axios.put(`/todos/${todo.id}`, { memo: todo.memo})
        .then(()=>{
          this.$notify.success({ message: '更新成功'});
          this.getData()           
          this.editedTodo = null
        })      
    },
    del(todo){
      axios.delete(`/todos/${todo.id}`)
        .then(()=>{
          this.$notify.success({ message: '刪除成功'});          
          this.getData()
        })
    }
  }
}
</script>

<style>

</style>
 