<template>
  <div class="container">
    <el-tabs type="border-card">
      <el-tab-pane label="http-resource">
        <my-resource></my-resource>
      </el-tab-pane>
      <el-tab-pane label="axios">
        <my-axios></my-axios>
      </el-tab-pane>
    </el-tabs>

  </div>
</template>

<script>
import myResource from '@/components/myResource'
import myAxios from '@/components/myAxios'

export default {
  name: 'app',
  components: {
    myResource, myAxios
  }
}
</script>

<style>
  .container {
    width: 1140px;
    margin: 0 auto; 
  }
</style>
